[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git@github.com:erikw/tmux-powerline.git
[submodule "tools/XVim"]
	path = tools/XVim
	url = git@github.com:XVimProject/XVim.git
